@font-face {
    font-family: 'JosefinSans-Regular';
    font-style: normal;
    font-weight: 400;
    src: url("styles/fonts/JosefinSans-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'PlayfairDisplay-Regular';
    font-style: normal;
    font-weight: 400;
    src: url("styles/fonts/PlayfairDisplay-Regular.otf") format('truetype');
}

@font-face {
    font-family: 'JosefinSans-Light';
    font-style: normal;
    font-weight: 400;
    src: url("styles/fonts/JosefinSans-Light.ttf") format('truetype');
}

@font-face {
    font-family: 'PlayfairDisplay-Black';
    font-style: normal;
    font-weight: 400;
    src: url("styles/fonts/PlayfairDisplay-Black.otf") format('truetype');
}

@font-face {
    font-family: 'JosefinSans-Italic';
    font-style: normal;
    font-weight: 400;
    src: url("styles/fonts/JosefinSans-Italic.ttf") format('truetype');
}